<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Scripts/Header.css"/>
</head>
<body>
    <div id="head">
        <h2 class="headerText">Tests</h2>
    </div>

    @RenderBody()
</body>
</html>
