<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Scripts/Header.css" />
</head>
<body>
    <div id="header">
        <a id="headerHomeButton" href="~/Home">Tests</a>
        <a id="headerButton" href="~/Home/AddTest">Add test</a>
    </div>

    @RenderBody()

</body>
</html>