@{
    ViewBag.Title = "AddTest";
}

<div id="testName">
    Test name
    <input id="testNameText" type="text" />
    <br />
    <button onclick="AddQuestion()">Add question</button>
</div>

<br />
<button id="btnCreate" onclick="CreateTest()">Create</button>

<script language="javascript">
    class Test {
        testName
        questions = []
    }

    class Question {
        questionText
        rightAnswerId
        answers = new Map()
    }

    var questionCount = 0
    var answersCount = new Map()

    function AddQuestion() {
        questionCount++
        answersCount.set(questionCount, 0)

        var div = document.createElement('div')
        div.id = 'question' + questionCount
        div.innerHTML =
            questionCount + '. question' +
            '<input id=questionText' + questionCount + ' type=text/><br />' +
            'right answer' +
            '<input id=rightAnswerId' + questionCount + ' type=number><br />' +
            '<button onclick=AddAnswer(' + questionCount + ')>Add answer</button>'

        btnCreate.before(div)
    }

    function AddAnswer(questionId) {
        var answer = document.createElement('div')
        answer.id = 'answer' + questionId
        answersCount.set(questionId, answersCount.get(questionId) + 1)

        var answerNum = answersCount.get(questionId)
        var innerString = '. answer<input id=' + questionId + 'answerText' + answerNum + ' type="text" />'

        answer.innerHTML = answerNum + innerString

        var element = document.getElementById('question' + questionId)
        element.append(answer)
    }

    function CreateTest() {
        var test = new Test();
        test.testName = document.getElementById("testNameText").value

        for (var i = 1; document.getElementById('questionText' + i); i++) {
            var newQuestion = new Question()

            newQuestion.questionText = document.getElementById('questionText' + i).value
            if (newQuestion.questionText == '') {
                document.getElementById('questionText' + i).attributes("color: 000")
                continue
            }

            newQuestion.rightAnswerId = document.getElementById('rightAnswerId' + i).value
            if (newQuestion.rightAnswerId == '') {
                continue
            }

            for (var j = 1; document.getElementById(i + 'answerText' + j); j++) {
                newQuestion.answers.set(j, document.getElementById(i + 'answerText' + j).value)
            }
            test.questions.push(newQuestion)
        }

        console.log(test)
    }

    function LoadJsonData(jsonString) {
        try {
            $.ajax({
                type: "POST",
                url: "NewTestHandler.ashx",
                cache: false,
                data: postdata,
                dataType: "json",
            })
        }
        catch (exeption) {
            alert(exeption)
        }
    }

</script>