@{
    ViewBag.Title = "AddTest";
}

<a>Test name</a>
<input type="text"/>
<br />
<button onclick="AddQuestion()">Add question</button>

<script language="javascript">
    var questionCount = 0;

    function AddQuestion() {
        questionCount++
        var div = document.createElement('div')
        div.innerHTML = '<div>' + questionCount + '. question<input type="text"/><br /><button onclick="AddAnswer(' + questionCount + ')">Add answer</button></div>'
        document.body.append(div)
    }

    function AddAnswer(questionId) {
        var div = document.createElement('div')
        div.innerHTML = questionId + '. answer'
        document.body.append(div)
    }
</script>

@*<div>
    1. question
    <input type="text"/>
    <br />
    <button onclick="AddAnswer()">Add answer</button>
</div>*@