@{
    ViewBag.Title = "AddTest";
}

<div id="testName">
    Test name
    <input id="testNameText" type="text" />
    <br />
    <button onclick="AddQuestion()">Add question</button>
</div>

<br />
<button id="btnCreate" onclick="CreateTest()">Create</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/Scripts/AddTestScript.js"></script>
<script language="javascript">
    function LoadJsonData(jsonString) {
        $.post("@Url.Action("AddTest", "Home")", { jsonString: jsonString }, function (data) {
            if (data.status == 1) {
                alert(data.message)
            }
            else {
                alert('something wrong')
            }
        })
    }
</script>