@{
    ViewBag.Title = "Home Page";

    foreach (var item in Model)
    {
        <p>
            <a>@item.Value</a>
            @Html.ActionLink("start", "Test", new { testId = item.Key })
            @Html.ActionLink("delete", "DeleteTest", new { testId = item.Key })
        </p>
    }
}